 ;COPY THE CONTENTS OF THIS EXAMPLE INTO A "config.ini" FILE

[GENERAL]
;Used in logging & email reports
SiteName=

;Use an exisiting sitemap on system, include the xml extension
UseLocalFile=yes
LocalSitemapFile=../public/sitemap.xml

;Downloads and uses the sitemap from the given url (ie, google.com/sitemap.xml)
DownloadSitemap=no
RemoteSitemapUrl=

OutputToFile=yes
OutputFileName=broken_link_output.txt

;Logging - The directory where logs will be stored
LogfileDirectory=./log

;Emails the results to the Recipient address from the Admin address
[EMAIL]
EmailOutput=yes

AdminEmailAddress=
AdminEmailPassword=

RecipientEmailAddress=

[AUTH]
SiteUsername=
SitePassword=